body {
	color: #333;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.row {
	max-width: 760px;
	margin: 30px auto;
	padding-left: 20px;
	padding-right: 20px;
}

.centered {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding-top: 10px;
	line-height: 1.3;
}

h1 {
	font-size: 18px;
}

.post-link {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.post-link:last-child {
	border: 0;
}

.post-link h2 {
	margin-bottom: 5px;
}
.post-link p {
	margin-top: 20px;
}

dt, strong {
	color: #0f0;
}

em {
	font-style: italic;
}

a {
	color: #4078c0;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p, ul, dl {
	margin: 0 0 20px 0;
}

div.highlighter-rouge {
	background: #272822;
	margin: 0 -10px 30px;
	padding: 10px;
	overflow-x: scroll;
}

code.highlighter-rouge {
	background: #eee;
	color: #333;
	padding: 2px 4px;
}

li {
	list-style: square;
	margin-left: 30px;
}

code,
pre {
	font-family: "Courier New", Courier, monospace;
	display: inline;
	color: #fff;
	
}

code.highlighter-rouge,
a {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.links {
	display: block;
	clear: both;
	text-align: center;
}

.links li {
	display: inline;
	list-style: none;
	margin: 0;
}

.links a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	margin: 0 10px 0 0;
}

.links .icon-feed {
	font-size: 18px;
}

.links a:hover .icon-feed {
	color: #FA9B39;
}

.links a:hover .icon-github {
	color: #4078c0;
}

.links a:hover .icon-instagram {
	color: #e4405f;
}

.links a:hover .icon-linkedin {
	color: #0077b5;
}

.links a:hover .icon-steam {
	color: #5385A6;
}

.links a:hover .icon-twitter {
	color: #1da1f2;
}

time {
	color: #999;
}
