$bold-font-weight: 500;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #5c5c5c;
	font-family: "Crimson Text", Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	line-height: 1.4em;
}

.row {
	clear: both;
	margin: 0 auto;
	max-width: 711px;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 640px) {
	.row {
		padding-left: 20px;
		padding-right: 20px;
		width: 83.3333%;
	}
}

@media screen and (min-width: 768px) {
	.row {
		width: 66.6667%;
	}
}

@media screen and (min-width: 1024px) {
	.row {
		width: 50%;
	}
}


.archive-nav {
	text-align: right;
	margin-bottom: 10px;

	&__separator {
		color: #999;
		padding: 0 5px;
	}

	&__active {
		color: #999;
		font-style: italic;
	}
}


code,
pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	display: inline;
	color: #fff;
}

div.highlighter-rouge {
	background: #272822;
	margin: 0 -15px 30px;
	padding: 15px;
	overflow-x: auto;
	line-height: 1.0;
}

@media screen and (min-width: 640px) {
	div.highlighter-rouge {
		margin: 0 -20px 30px;
		padding: 20px;
	}
}

code.highlighter-rouge {
	background: #eee;
	color: #333;
	padding: 2px 4px;
}

code.highlighter-rouge,
a {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.centered {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-size: 24px;
	font-weight: $bold-font-weight;
	margin: 0 0 20px 0;
	padding-top: 10px;
	line-height: 1.2;
}

h1 {
	font-size: 32px;
	margin: 0 0 30px 0;
	padding-top: 20px;
}

@media screen and (min-width: 640px) {
	h1 {
		padding-top: 40px;
	}
}

.post-link {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.post-link:last-child {
	border: 0;
}
.post-link .post-type {
	float: right;
	background: #eee;
    color: #333;
    padding: 2px 8px;
    margin: 11px 0 0 0;
}
.post-link h2 {
	margin-bottom: 5px;
}
.post-link p {
	margin-top: 20px;
}

dt,
strong {
	color: #333;
}

dl {
	margin: 0 0 30px 0;
}

dd {
	margin: 0 0 20px 0;
}

b,
strong {
	font-weight: $bold-font-weight;
}

em {
	font-style: italic;
}

a {
	color: #4078c0;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p, ul {
	margin: 0 0 20px 0;
}

li {
	list-style: disc;
	margin-left: 20px;
}

@media screen and (min-width: 640px) {
	li {
		list-style: disc;
		margin-left: 40px;
	}
}

table {
	margin: 0 auto 20px;
}

/* Default Table Style */
table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid grey;
	border-collapse: collapse;
}
table thead th,
table tfoot th {
	font-weight: bold;
	background: rgba(0,0,0,.1);
}

table th,
table td {
	padding: 8px;
	border: 1px solid lightgrey;
}


.links {
	display: block;
	clear: both;
	text-align: center;
}

.links li {
	display: inline;
	list-style: none;
	margin: 0;
}

.links a {
	color: #333;
	text-decoration: none;
	font-size: 20px;
	margin: 0 10px 0 0;
}

.links .icon-feed {
	font-size: 18px;
}

.links a:hover .icon-feed {
	color: #FA9B39;
}

.links a:hover .icon-github {
	color: #4078c0;
}

.links a:hover .icon-instagram {
	color: #e4405f;
}

.links a:hover .icon-linkedin {
	color: #0077b5;
}

.links a:hover .icon-steam {
	color: #5385A6;
}

.links a:hover .icon-twitter {
	color: #1da1f2;
}

time {
	color: #999;
}
