---
layout: default
---

<div class="row">
	<h1>Luke Armstrong</h1>

	{% assign documents = site.documents | sort: 'date' | reverse %}

	{% for document in documents %}
		<div class="post-link">
			{% if document.collection == 'games' %}
				<div class="post-type">Game</div>
			{% endif %}

			<h2><a href="{{ document.url }}">{{ document.title }}</a></h2>

			{% if document.date %}
				<time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: "%B %d, %Y" }}</time>
			{% endif %}

			<p>{{ document.description }}</p>
		</div>
	{% endfor %}
</div>