---
layout: default
---

<div class="row">
	<h1>Luke Armstrong</h1>

	<nav class="archive-nav">
		<a href="/" class="archive-nav__active">Tutorials</a> <span class="archive-nav__separator">//</span> <a href="/games/">Games</a>
	</nav>

	{% for post in site.posts %}
		<div class="post-link">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

			{% if post.date %}
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
			{% endif %}

			<p>{{ post.description }}</p>
		</div>
	{% endfor %}
</div>