<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="alternate" href="/atom.xml" title="{{ site.title }}" type="application/atom+xml" />

		{% if page.twitter_card %}
			<!--
				Twitter Cards
				https://dev.twitter.com/docs/cards
			-->
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:site" content="@{{ site.twitter_username }}" />
			<meta name="twitter:creator" content="@{{ site.twitter_username }}" />
			<meta name="twitter:title" content="" />
			<meta name="twitter:description" content="" />
			<meta name="twitter:image" content="" />
		{% endif %}

		{% if page.error == 404 %}
			<meta http-equiv="refresh" content="5; url={{ site.url }}" />
		{% endif %}
	</head>
	<body>

{{ content }}

	</body>
</html>