<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width" />

		<title>{% if page.title %}{{ page.title }} · Luke Armstrong{% else %}Luke Armstrong{% endif %}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Web Developer{% endif %}" />

        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/syntax/github.css" />

		<link href="http://feeds.feedburner.com/luke-armstrong" rel="alternate" title="Luke Armstrong" type="application/atom+xml" />

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26558463-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		
		<a href="https://github.com/lukearmstrong">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
		</a>

		<div class="wrapper">
			{{ content }}
		</div>

	</body>
</html>
